# Dataset
data/

# Model weights
checkpoints/
models/*/checkpoints/
*.pth
*.pt

# Experiment outputs
outputs/
models/*/outputs/
runs/

# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# wandb
wandb/
